[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=Bruno
WorkingDirectory=/home/Bruno/sites/DOMAIN
EnvironmentFile=/home/Bruno/sites/DOMAIN/.env

ExecStart=/home/Bruno/sites/DOMAIN/virtualenv/bin/gunicorn \
--bind unix:/tmp/DOMAIN.socket \
django_TDD.wsgi:application

[Install]
WantedBy=multi-user.target

